<!doctype html>
<html lang="fr">
  {{ partial "head.html" . }}
<body>
<main>
    {{ partial "header.html" . }}
  <section>
    <h2 itemprop="name headline">{{ .Title }}</h2>
    {{ .Content }}
    </section>
    {{ partial "footer.html" . }}
  </main>
</body>
</html>
