<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ .Site.Params.Author }} - {{ .Site.BaseURL }}">
    <title>{{ if eq .IsHome true }}{{ .Site.Title }} — {{ .Site.Author.name }}{{ else }}{{ .Title }} — {{ .Site.Title }}{{ end }}</title>
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta name="keywords" content="{{ .Site.Params.keywords }}" />
    <!-- DC -->
    <link rel="schema.dc" href="https://purl.org/dc/elements/1.1/">
    <meta property="DC.creator" content="{{ .Site.Params.author }}" />
    <meta property="DC.publisher" content="{{ .Site.Params.author }}, {{ .Site.Params.rattachement }}" />
    <meta property="DC.language" content="fr" />
    <meta property="DC.title" content="{{ .Site.Title }}" />
    <meta property="DC.description" content="{{ .Site.Params.description }}" />
    <meta property="DC.rights" content="{{ .Site.Params.copyright }}" />
    <meta property="DC.date" content=".Site.Params.date" />
    <meta property="DC.type" content="article" />
    <!-- OG -->
    <meta property="og:title" content="{{ .Site.Title }}"/>
    <meta property="og:url" content="{{ .Site.BaseURL }}">
    <meta property="og:description" content="{{ .Site.Params.description }}"/>
    <meta property="og:site_name" content="{{ .Site.Title }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:image" content="{{ .Site.BaseURL }}/{{ .Site.Params.images }}" />
    <!-- citation -->
    <meta name="citation_title" content="{{ .Site.Title }}" />
    <meta name="citation_author" content="{{ .Site.Params.author }}" />
    <meta name="citation_author_orcid" content="https://orcid.org/{{ .Site.Params.orcid }}" />
    <meta name="citation_author_institution" content="{{ .Site.Params.rattachement }}" />
    <meta name="citation_abstract" content="{{ .Site.Params.description }}" />
    <meta name="citation_conference_title" content="{{ .Site.Params.colloque }}" />
    <meta name="citation_online_date" content=".Site.Params.date" />
    <meta name="citation_publication_date" content=".Site.Params.date" />
    <!--  https://schema.org/Article -->
    <meta property="description" itemprop="description" content="{{ .Site.Params.description }}">
    <meta property="article:published" itemprop="datePublished" content=".Site.Params.date">
    <meta property="article:created" itemprop="dateCreated" content=".Site.Params.date">
    <meta property="article:author" content="{{ .Site.Params.author }}">
    <!--  Twitter Card -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:domain" content="{{ .Site.BaseURL }}" />
    <meta name="twitter:creator" content="{{ .Site.Params.twitter }}"/>
    <meta name="twitter:site" content="{{ .Site.Params.twitter }}" />
    <meta name="twitter:title" content="{{ .Site.Title }}" />
    <meta name="twitter:description" content="{{ .Site.Params.description }}">
    <meta name="twitter:url" content="{{ .Site.BaseURL }}"/>
    <meta name="twitter:image" content="{{ .Site.BaseURL }}/{{ .Site.Params.images }}" />
    <meta itemprop="wordCount" content="{{ .WordCount }}">
  <link rel="canonical" href="{{ .Permalink | absURL }}">
  <link rel="alternate" type="application/atom+xml" title="{{ .Site.Title }}" href="{{ .Site.BaseURL }}/atom.xml" />
  <link rel="alternate" type="application/json" title="{{ .Site.Title }}" href="{{ .Site.BaseURL }}/feed.json" />
  <link rel="shortcut icon" type="image/png" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNk+A8AAQUBAScY42YAAAAASUVORK5CYII=">
  {{ $styles := resources.Get "scss/styles.scss" | toCSS (dict "outputStyle" "compressed") | minify }}
  <style>{{ $styles.Content | safeCSS }}</style>

  {{ if .IsHome -}}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "ScholarlyArticle",
    "abstract": {{ .Site.Params.description }},
    "author" : {
        "@type": "Person",
        "name": "{{ .Site.Author.name }}"
    },
    "creator" : {
        "@type": "Person",
        "name": "{{ .Site.Author.name }}"
    },
    "dateCreated": "{{ .Site.Params.date }}",
    "dateModified": "{{ .Site.Params.datemodification }}",
    "name": "{{ .Site.Title }}",
    "url": "{{ .Site.BaseURL }}",
    "description": "{{ .Site.Params.description }}",
    "thumbnailUrl": "{{ .Site.Params.Logo | absURL }}",
    "license": "{{ .Site.Params.Copyright }}"
}
</script>
{{ else if .IsPage }}
{{ $author :=  or (.Params.author) (.Site.Author.name) }}
{{ $org_name :=  .Site.Title }}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "articleSection": "{{ .Section }}",
    "name": "{{ .Title | safeJS }}",
    "headline": "{{ .Title | safeJS }}",
    "alternativeHeadline": "{{ .Params.lead }}",
    "description": "{{ if .Description }}{{ .Description | safeJS }}{{ else }}{{if .IsPage}}{{ .Summary  }}{{ end }}{{ end }}",
    "inLanguage": {{ .Site.LanguageCode | default "en-us" }},
    "isFamilyFriendly": "true",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ .Permalink }}"
    },
    "author" : {
        "@type": "Person",
        "name": "{{ $author }}"
    },
    "creator" : {
        "@type": "Person",
        "name": "{{ $author }}"
    },
    "accountablePerson" : {
        "@type": "Person",
        "name": "{{ $author }}"
    },
    "copyrightHolder" : "{{ $org_name }}",
    "copyrightYear" : "{{ .Date.Format "2006" }}",
    "dateCreated": "{{ .Date.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
    "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
    "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
    "publisher":{
        "@type":"Organization",
        "name": {{ $org_name }},
        "url": {{ .Site.BaseURL }},
        "logo": {
            "@type": "ImageObject",
            "url": "{{ .Site.Params.logo | absURL }}",
            "width":"32",
            "height":"32"
        }
    },
    "image": {{ if .Params.images }}[{{ range $i, $e := .Params.images }}{{ if $i }}, {{ end }}{{ $e | absURL }}{{ end }}]{{ else}}{{.Site.Params.logo | absURL }}{{ end }},
    "url" : "{{ .Permalink }}",
    "wordCount" : "{{ .WordCount }}",
    "genre" : [ {{ range $index, $tag := .Params.tags }}{{ if $index }}, {{ end }}"{{ $tag }}" {{ end }}],
    "keywords" : [ {{ range $index, $tag := .Params.tags }}{{ if $index }}, {{ end }}"{{ $tag }}" {{ end }}]
}
</script>
{{ end }}

</head>
